body {
  color: white;
  background-color: #181824;
}
#list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-rows: 100px;
  grid-auto-rows: auto;
}
#todo-title {
  margin-left: 30px;
}
input {
  margin-top: 3px;
  margin-left: 15px;
  width: 300px;
  height: 50px;
  font-size: 30px;
  background-color: #25273c;
  outline: none;
  box-shadow: none;
  border: 0;
  color: white;
}
#rcorners1 {
  grid-column: 2/3;
  border-radius: 25px;
  background: #25273c;
  padding-bottom: 38px;
  width: 400px;
  height: 20px;
}
#btn {
  border-radius: 0px 30px 30px 0px;
  background: #73ad21;
  padding: 28px;
  margin-left: 320px;
  margin-top: -55px;
  background-image: url("Arrow.png");
  background-position: center;
  background-repeat: no-repeat;
}
#items {
  grid-column: 2/3;
}
#todoI {
  background: #25273c;
  width: 400px;
  height: 38px;

  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}
#to-do-list {
  display: flex;
  flex-direction: column-reverse;
}

#number-todo {
  margin-left: 10px;
}

p {
  position: absolute;
  margin-top: -33px;
  margin-left: 58px;
  margin: 0;
  font-size: 30px;
  color: white;
  z-index: 100;
}

h1 {
  font-size: 60px;
}

#deleteAll {
  color: white;
  background-color: transparent;
  border: 0;
}

.todo-info {
  border: 2px solid #ad02fe;
}
.todo-text {
  border-bottom: solid #4840405e;
  width: 300px;
  padding: 7px;
  font-size: auto;
}
.checkbox-round {
  background-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #bf56ffc9;
  appearance: none;
  cursor: pointer;
}
.checkbox-round-select {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.checkbox-round-delete {
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  margin-right: 10px;
}

.checkbox-round-select-checked {
  background-image: url("Frame.svg");
  background-position: center;
}

.checkbox-round-select-checked ~ .todo-text {
  text-decoration: line-through;
  color: #0f90a191;
}
